/* Reset & Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: blue;
  background-color: transparent;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 2.5rem;
}

/* Main Section */
.main {
  box-sizing: border-box;
}

.nav_section {
  background-image: url("media/the-town-bg-01.4fb1a448e9b51ceb326a.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 100vh;
}
/* Left Top Section */
.left_top_section {
  position: absolute;
  left: 1%;
  top: 1%;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
}

.left_top_section .BrandName {
  position: absolute;
  left: 1%;
  top: 8%;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.BrandName:hover {
  color: blue;
}

/* Right Top Section */
.right_top_section {
  position: absolute;
  right: 1%;
  top: 3%;
}

.right_top_section a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 22px;
}

.right_top_section .activeColor {
  color: blue;
}

/* Center Section */
.center_section {
  position: absolute;
  display: inline-block;
  top: 45%;
  left: 44%;
  color: white;
  font-size: 20px;
  margin: 0 10px !important;
  text-decoration: none;
}

.center_section h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.center_section p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.center_section .author {
  color: blue;
  font-weight: bold;
}

/* Introduction Section */
.intro_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: auto;
}

.intro_image {
  width: 40%;
  margin-right: 5%;
}

.intro_image img {
  width: 100%;
  height: auto;
  display: block;
}

.intro_text h1 {
  color: blue;
  margin-bottom: 20px;
}

.intro_text .intro_text_p1,
.intro_text .intro_text_p2 {
  color: #777;
  font-size: large;
  margin-bottom: 20px;
}

.intro_text_button {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: blue;
}

/* Work Section */
.work_section {
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(180deg, #e3987f, #5c648c);
  color: white;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work_box {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin: 20px;
}

.work_box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.work_box a {
  display: block;
  margin-bottom: 10px;
  color: #b2ccff;
  text-decoration: none;
}

.work_box a:hover {
  text-decoration: underline;
}

.work_box p {
  font-size: 0.9em;
  line-height: 1.4;
}
